body
	font-family: 'Poppins', sans-serif
	font-size: 24px
	font-style: normal
	line-height: 1.6em

h2
	font-weight: 600
	font-size: 52px
	line-height: 1.6em


.contentBody
	padding: 100px
	max-width: 1420px
	margin: auto

.section
	margin-bottom: 100px
	display: flex
	flex-direction: row
	justify-content: space-between

	& > *
		max-width: 45%


button
	font-size: 20px
	line-height: 30px
	border: 1px solid #684FFF
	border: none
	background-color: #684FFF
	border-radius: 0 50px 50px 0
	color: white
	padding: 10px 30px 10px 30px
