#navBar
	height: 100px
	background-color: white

	.innerContainer
		display: flex
		flex-direction: row
		justify-content: space-between
		align-items: center
		padding: 0 100px
		margin: auto
		max-width: 1420px
		width: 100%

	.navItem
		margin: auto 20px
		color: #2C3847

